.App {
  text-align: center;
}

a {
  text-decoration: none;
}

#rememoHeader {
  color: rgb(0, 131, 120);
  text-decoration: none;
}

.accountBarLink {
  margin: 5px 25px;
}

#usernameSpan {
  padding-right: 25px;
}