.App {
  text-align: center;
}

a {
  text-decoration: none;
}

#rememboHeader {
  background: linear-gradient(#d7c669, #fff2b9 5%, #dbca76 95%, #978c51);
  color: rgb(6, 100, 92);
  text-decoration: none;
  padding: 15px 0;
  margin: 5px 0 15px 0;
}

.accountBarLink {
  margin: 5px 25px;
}

#usernameSpan {
  padding-right: 25px;
}

.rememboButton {
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background: #d0d0d0;
  border: 1px solid #999;
  margin: 0 10px 10px;
  cursor: pointer;
}

.rememboButton:hover:not(:disabled) {
  background: #c0c0c0;
}