.loginForm {
  margin-top: 30px;
}

.loginForm input[type="text"], .loginForm input[type="password"] {
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 4px;
}