.quizzesHeader {
  color: rgb(0, 131, 120);
}

.quizLink {
  display: block;
  color: black;
  padding: 10px 20px;
  background: rgb(0, 221, 203);
  border-radius: 10px;
  max-width: 600px;
  margin: 10px auto;
  font-weight: bold;
  font-size: 1.1em;
}

.quizLink:hover {
  background: rgb(255, 234, 113);
}