.mainLabel {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
}

.optionalLabel {
  text-align: left;
}

.item {
  margin: 0 auto 20px;
}

.buildQuizTopButton {
  margin: 10px 25px;
}


.conditionalButton:disabled {
  background: rgb(151, 151, 151);
  color: black;
  cursor: not-allowed;
}

.rememboButton.saveButton:not(:disabled) {
  background: red;
  color: white;
}
.rememboButton:hover.saveButton:not(:disabled):hover {
  background: rgb(202, 0, 0)
}