.aboutLink:hover {
  background: rgb(255, 234, 113);
}

.quizzesHeader {
  color: rgb(0, 131, 120);
  margin: 55px 0 5px 0;
}

#publicLists, #localOrPrivateLists {
  padding: 0 1%;
}

.quizLink, .newQuizLink {
  display: block;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 10px auto;
  font-weight: bold;
  font-size: 1.1em;
}

.quizLink {
  background: linear-gradient(#d7c669, #fff2b9 5%, #c5b56a 95%, #978c51);
}

.newQuizLink {
  border: 1px solid black;
  max-width: 300px;
}

.newQuizLink:hover {
  background-color: #fff2b9;
}

.quizLink:hover {
  background: linear-gradient(#d7c669, #ffea8e 5%, #cbb340 95%, #978c51);
}